/*
Colors used:
Primary Background Color (white): #ffffff
Secondary Color 1 (blue): #35a0bf
Secondary Background (yellow): #fed831 
Font Color (black): #333333
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Kameron', serif;
  font-size: 16px;
  /*sets the font size to 16px*/
  font-weight: 300;
  /*sets font weight to 300*/
  line-height: 1.6;
  /*sets the line height to 1.6* the font size*/
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.74em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #35a0bf;
  text-decoration: none;
  /*no underlinging*/
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
  /*underlinging when hovering over link */
}

a:visited {
  color: #333333;
  /*visited link*/
}

a:active {
  color: #333333;
  /*selected link*/
}

a:hover,
a:focus {
  color: #333333;
  text-decoration: underline;
}

header {
  background-color: #e1e8ec;
  padding: 10px 0 4px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  display: inline-block;
  position: fixed;
  width: 100%;
}

footer {
  background-color: #e1e8ec;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

main {
  padding-top: 71px;
}

.myinfo {
  padding-left: 50px;
  padding-right: 50px;
}

.button {
  /*keep this rule close to the bottom to avoid overide*/
  display: inline-block;
  background-color: #a2adb1;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #01587a;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #01587a;
  background-color: #99d8dd;
}

.button.email {
  background-color: transparent;
  color: #23687D;
  text-transform: uppercase;
  border: 2px solid #23687D;
}

.button.email:hover {
  background-color: #99d8dd;
  color: #ffffff;
}


.button.home {
  background-color: transparent;
  color: #23687D;
  border-bottom: none;
}

.button.home:hover {
  color: #333333;
  background-color: #99d8dd;
}

.button.about {
  background-color: transparent;
  color: #23687D;
  border-bottom: none;
}

.button.about:hover {
  color: #333333;
  background-color: #99d8dd;
}

.button.contact {
  background-color: transparent;
  color: #23687D;
  border-bottom: none;
}

.button.contact:hover {
  color: #333333;
  background-color: #99d8dd;
}

.button.resume {
  background-color: transparent;
  color: #23687D;
  border-bottom: none;
}

.button.resume:hover {
  color: #333333;
  background-color: #99d8dd;
}


/* Layout Styling*/

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /*25px top and bottom, 0 left and right*/
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.purr-top {
  align-items: center;
  margin: 5px 5px 5px 5px;
}

#hero h1 {
  text-align: center;
  /*centering text*/
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  width: 100%;
}

#purrsuit {
  text-align: center;
}

.logo {
  max-width: 150px;
  min-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: 333333;
}

.linkedin {
  max-width: 50px;
  margin: 5px 5px 5px 5px;
}

.me {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.welcome {
  text-align: center;
}

.get {
  text-align: center;
}

.overview {
  text-align: center;
  margin: 20px 20px;
}

.purpose {
  text-align: center;
  margin: 20px 20px;
}

.approach {
  text-align: center;
  margin: 20px 20px;
}

.tools {
  text-align: center;
  margin: 20px 20px;
}

.gal {
  text-align: center;
}

.gal2 {
  text-align: center;
}

.flow {
  text-align: center;
}

.wireframe {
  text-align: center;
}

.testing {
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #23687D;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*gallery styling*/
.gallery {
  margin: 10px 50px;
  text-align: center;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

#myskills {
  text-align: center;
}

.design>ul {
  list-style-type: none;
}

.skills>ul {
  list-style-type: none;
}

.tools>ul {
  list-style-type: none;
}

.code>ul {
  list-style-type: none;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
  height: 50px;
}

#pawsitive {
  text-align: center;
  margin: 20px 20px;
}

#cheese {
  text-align: center;
  margin: 20px 20px;
}

#purrsuit {
  text-align: center;
  margin: 20px 20px;
}

/*CSS animation of cat on homepage*/
.adopt {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.kitty {
  margin: 20px 20px;
}

@keyframes color-change-heart {
  0% {
    fill: #DF9FC2;
  }

  50% {
    fill: #cc79aa;
  }

  100% {
    fill: #bf3487;
  }
}

.pink-heart {
  animation-duration: 4s;
  animation-name: color-change-heart;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-paw {
  0% {
    fill: #DF9FC2;
  }

  50% {
    fill: #cc79aa;
  }

  100% {
    fill: #bf3487;
  }
}

.pink-paw {
  animation-duration: 2s;
  animation-name: color-change-paw;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.bubble-left {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 10px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.bubble-right {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}