/*
Colors used:
Primary Background Color (white): #ffffff
Secondary Color 1 (blue): #22ccd5
Secondary Background (yellow): #fed831
Font Color (black): #333333
*/

body{
  background-color: #ffffff;
  font-family: 'Kameron', serif;
  font-size:16px; /*sets the font size to 16px*/
  font-weight: 300;/*sets font weight to 300*/
  line-height: 1.6;/*sets the line height to 1.6* the font size*/
  font-family: 'Open Sans', sans-serif;
    color: #333333;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.74em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width:100%;
}
a{
  color: #22ccd5;
  text-decoration: none;/*no underlinging*/
}
a:hover {
  color: #ffffff;
  text-decoration: underline; /*underlinging when hovering over link */
}
a:visited {
  color: #333333; /*visited link*/
}
a:active {
  color: #333333; /*selected link*/
}
a:hover,
a:focus {
  color: #fed831;
  text-decoration: underline;
}
header {
  background-color: #fed831;
  text-align: center;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
display: inline-block;
position: fixed;
width: 100%;
}
footer {
  background-color: #fed831;
  padding: 10px;
  margin: 10px;
}
main{
  padding-top: 133px;
}
.button { /*keep this rule close to the bottom to avoid overide*/
  display: inline-block;
  background-color: #22ccd5;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.email {
  background-color: transparent;
  color: #22ccd5;
  text-transform: uppercase;
  border: 2px solid #22ccd5;
}
.button.email:hover {
  background-color: #fed831;
  color: #ffffff;
}
.button.home {
  background-color: transparent;
  color: #22ccd5;
}
.button.home:hover {
  color: #333333
}
.button.about {
  background-color: transparent;
  color: #22ccd5;
}
.button.about:hover {
  color: #333333
}
.button.contact {
  background-color: transparent;
  color: #22ccd5;
}
.button.contact:hover {
  color: #333333
}
/* Layout Styling*/
}
.container {
  padding: 0 15px;
}
* {
  box-sizing: border-box;
}
.row {
  margin:25px 0; /*25px top and bottom, 0 left and right*/
}
#work .row {
  padding-bottom: 25px;
  border-bottom:
  1px solid #333333;
}

#hero h1{
  text-align: center;/*centering text*/
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#purrsuit {
  text-align: center;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:333333;
}
.linkedin {
  max-width: 50px;
  margin: 5px 5px 5px 5px;
}
.me {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.welcome {
  text-align: center;
}
.get {
  text-align: center;
}
.overview {
  text-align: center;
}
.purpose {
  text-align: center;
}
.approach {
  text-align: center;
}
.tools {
  text-align: center;
}
.approach > ul > {
  list-style-type: none;
}
.tools > ul > {
  list-style-type: none;
}
/*SlideShow on Purrsuit.html*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End of SlideShow*/
