/*
Colors used:
Primary Background Color (white): #ffffff
Secondary Color 1 (blue): #22ccd5
Secondary Background (yellow): #fed831
Font Color (black): #333333
*/

* {
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  font-family: 'Kameron', serif;
  font-size:16px; /*sets the font size to 16px*/
  font-weight: 300;/*sets font weight to 300*/
  line-height: 1.6;/*sets the line height to 1.6* the font size*/
  font-family: 'Open Sans', sans-serif;
    color: #333333;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.74em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width:100%;
}
a{
  color: #22ccd5;
  text-decoration: none;/*no underlinging*/
}
a:hover {
  color: #ffffff;
  text-decoration: underline; /*underlinging when hovering over link */
}
a:visited {
  color: #333333; /*visited link*/
}
a:active {
  color: #333333; /*selected link*/
}
a:hover,
a:focus {
  color: #fed831;
  text-decoration: underline;
}
header {
  background-color: #fed831;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
display: inline-block;
position: fixed;
width: 100%;
}
footer {
  background-color: #fed831;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
main{
  padding-top: 133px;
}
.myinfo {
  padding-left: 50px;
  padding-right: 50px;
}
.button { /*keep this rule close to the bottom to avoid overide*/
  display: inline-block;
  background-color: #22ccd5;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #333333;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.email {
  background-color: transparent;
  color: #22ccd5;
  text-transform: uppercase;
  border: 2px solid #22ccd5;
}
.button.email:hover {
  background-color: #fed831;
  color: #ffffff;
}
.button.home {
  background-color: transparent;
  color: #22ccd5;
  border-bottom: none;
}
.button.home:hover {
  color: #333333
}
.button.about {
  background-color: transparent;
  color: #22ccd5;
  border-bottom: none;
}
.button.about:hover {
  color: #333333
}
.button.contact {
  background-color: transparent;
  color: #22ccd5;
  border-bottom: none;
}
.button.contact:hover {
  color: #333333
}
/* Layout Styling*/

.container {
  padding: 0 15px;
}
.row {
  margin:25px 0; /*25px top and bottom, 0 left and right*/
}
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#hero h1{
  text-align: center;/*centering text*/
}
#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#purrsuit {
  text-align: center;
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:333333;
}
.linkedin {
  max-width: 50px;
  margin: 5px 5px 5px 5px;
}
.me {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.welcome {
  text-align: center;
}
.get {
  text-align: center;
}
.overview {
  text-align: center;
}
.purpose {
  text-align: center;
}
.approach {
  text-align: center;
}
.tools {
  text-align: center;
}
.flow {
  text-align: center;
}
.wireframe {
  text-align: center;
}
.testing {
  text-align: center;
}
.approach > ul > {
  list-style-type: none;
}
.tools > ul > {
  list-style-type: none;
}
/*SlideShow on Purrsuit.html*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End of SlideShow*/

/*CSS Animation on home page start*/
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation-duration: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*End CSS animation on home page*/
/*CSS animation of cat on homepage*/
.adopt {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change-heart {
  0% {fill: #DF9FC2;}
  50% {fill: #cc79aa;}
  100% {fill: #bf3487;}
}
.pink-heart {
  animation-duration: 4s;
animation-name: color-change-heart;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}
@keyframes color-change-paw {
  0% {fill: #DF9FC2;}
  50% {fill: #cc79aa;}
  100% {fill: #bf3487;}
}
.pink-paw {
  animation-duration: 2s;
animation-name: color-change-paw;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}
.bubble-left {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top:5px;
}
@keyframes floating {
  from {transform: translate(0, 0px);}
  65% { transform: translate(0, 10px);}
  to { transform: translate(0, -0px);}
}
.bubble-right{
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top:5px;


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
main {
  padding-top: 99px;
}
body {
  font-size: 18px;
}
#hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row: after {
  content:"";
  clear: both;
  display: table;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg.5 {
    width: 41.66%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
